@import "../../../styles/variables";

.About-container {
  position: fixed;
  width: 50%;
  top: 20%;
  left: 25%;
  padding: 2rem;
  background-color: color(white);
  font-family: "DM Sans", sans-serif;
  border-radius: 2px;
  box-sizing: border-box;
  z-index: 101;
  opacity: 0;
  transform: translateY(-100vh);
  transition: opacity 0.5s ease-in-out, transform 0.4s ease-in-out;

  // ---Responsive---
  @include responsive(big-desktop) {
    width: 60%;
    top: 25%;
    left: 20%;
    padding: 2.5rem;
  }
  @include responsive(small-desktop) {
    width: 60%;
    top: 15%;
    left: 20%;
    padding: 2rem;
  }
  @include responsive(ipad) {
    width: 70%;
    top: 12%;
    left: 15%;
  }
  @include responsive(mobile) {
    width: 80%;
    left: 10%;
    transform: translateX(-100vw);
    padding: 0.75rem;
  }
  @include responsive(mobile-rotate) {
    top: 0%;
    transform: translateY(-130%);
  }

  .About-close {
    font-size: 1.5rem;
    color: color(medium-gray);
    float: right;
    padding: 0.7rem;
    line-height: 0;
    transition: color 0.2s ease;
    &:hover {
      cursor: pointer;
      color: color(redish);
    }

    // ---Responsive---
    @include responsive(big-desktop) {
      font-size: 1.7rem;
    }
    @include responsive(small-desktop) {
      font-size: 1.45rem;
    }
    @include responsive(ipad) {
      font-size: 1.35rem;
    }
    @include responsive(mobile) {
      font-size: 1.4rem;
      padding-top: 1.3rem;
      padding-right: 1.3rem;
    }
  }

  .About-content {
    margin: 4rem 3rem 2rem 3rem;

    // ---Responsive---
    @include responsive(small-desktop) {
      margin: 3.5rem 1rem 2rem 1rem;
    }
    @include responsive(mobile-rotate) {
      margin: 2rem 0.8rem 0.5rem 0.8rem;
    }

    h1 {
      font-weight: 500;
      font-size: 1.65rem;
      margin-bottom: 0rem;

      // ---Responsive---
      @include responsive(big-desktop) {
        font-size: 1.85rem;
        margin-bottom: 1.5rem;
      }
      @include responsive(small-desktop) {
        font-size: 1.5rem;
      }
      @include responsive(ipad) {
        font-size: 1.45rem;
      }
      @include responsive(mobile) {
        font-size: 1.5rem;
      }
    }

    h2 {
      font-weight: 500;
      font-size: 1.05rem;
      color: color(redish);
      letter-spacing: 0.5px;
      margin-bottom: 2rem;
    }

    p {
      font-weight: 400;
      font-size: 1.15rem;
      margin-bottom: 3rem;
      color: color(medium-gray);
      line-height: 1.7;
      letter-spacing: 0.2px;

      // ---Responsive---
      @include responsive(big-desktop) {
        font-size: 1.3rem;
      }
      @include responsive(small-desktop) {
        font-size: 1.15rem;
      }
      @include responsive(ipad) {
        font-size: 1.05rem;
      }
      @include responsive(mobile) {
        font-size: 0.95rem;
        margin-bottom: 2rem;
      }
      @include responsive(mobile-rotate) {
        font-size: 0.9rem;
        margin-bottom: 1rem;
      }
    }

    .About-contact {
      @include flex(row, flex-start, stretch);

      // ---Responsive---
      @include responsive(mobile) {
        @include flex(column, flex-start, stretch);
      }

      a {
        @include flex(row, flex-start, center);

        // ---Responsive---
        @include responsive(mobile) {
          margin-bottom: 0.4rem;
        }
      }

      img {
        width: 26.5px;

        // ---Responsive---
        @include responsive(mobile) {
          width: 21px;
        }
      }

      span {
        color: color(medium-gray);
        margin-left: 0.4rem;
        margin-right: 1.5rem;
        font-size: 1.1rem;
        letter-spacing: 0.5px;
        transition: color 0.2s ease;
        &:hover {
          color: color(redish);
        }

        // ---Responsive---
        @include responsive(big-desktop) {
          font-size: 1.25rem;
        }
        @include responsive(small-desktop) {
          font-size: 1rem;
        }
        @include responsive(ipad) {
          margin-right: 0.8rem;
          font-size: 1rem;
        }
        @include responsive(mobile) {
          margin-right: 0rem;
          font-size: 0.93rem;
        }
        @include responsive(mobile-rotate) {
          margin-right: 0.6rem;
          margin-left: 0.2rem;
          font-size: 0.85rem;
        }
      }
    }
  }
}

.About-active {
  opacity: 1;
  transform: translateY(0);

  // ---Responsive---
  @include responsive(mobile) {
    transform: translateX(0);
  }
  @include responsive(mobile-rotate) {
    transform: translateY(0);
  }
}
