.Projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "DM Sans", sans-serif;
  margin: 5rem 7% 5rem 7%;
}

.Project-container {
  margin: 1.5rem;
  background-color: #ffffff;
  width: 400px;
  box-shadow: 0 2px 6px #e2e2e2, 0 -2px 6px #e2e2e2;
  border-radius: 5px;
  position: relative;
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
  transition: opacity 0.2s ease;
}

.project-image:hover ~ .view-project,
.view-project:hover {
  opacity: 1;
}

.Project-container:hover > .project-image {
  opacity: 0.7;
}

.view-project {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: #ffffff;
  background: #343434;
  font-size: 1rem;
  border-radius: 20px;
  padding: 0.3rem 0.4rem;
  transition: all 0.3s ease;
}

.view-project a {
  color: #ffffff;
  font-size: 1rem;
}

.Project-content {
  padding: 1.3rem 2rem 1.5rem 2rem;
}

.Project-content h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}

/* .Project-content div {
  color: #343434;
  font-weight: 600;
  font-size: 1.45rem;
} */

.Project-content h3 a,
.Project-content div {
  color: #343434;
  font-weight: 600;
  font-size: 1.45rem;
  transition: color 0.3s ease;
}

.Project-content h3 span {
  font-size: 0.8rem;
  font-weight: 400;
  color: #8f8f8f;
  margin-left: 0.2rem;
}

.Project-content h3 a:nth-child(2) {
  color: #8f8f8f;
  font-size: 1.3rem;
}

.Project-content h3 a:nth-child(2):hover {
  color: #fb4b53;
}

/* Responsive */
@media (min-width: 1550px) {
  .Projects {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 1150px) {
  .Project-container {
    width: 360px;
    margin: 1rem;
  }
  .Project-content h3 {
    align-items: flex-start;
    margin-bottom: 0.4rem;
  }
  .Project-content h3 div,
  .Project-content h3 a {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
  }
  .Project-container h3 a:nth-child(2) {
    font-size: 1.3rem;
  }
  .Project-container p {
    font-size: 1rem;
  }
}

@media (max-width: 450px) {
  .Projects {
    margin: 2rem 2% 3rem 2%;
  }
  .Project-container {
    width: 280px;
    margin: 1.3rem;
  }
  .view-project {
    top: 30%;
    font-size: 0.8rem;
  }
  .view-project a {
    font-size: 0.8rem;
  }
  .Project-content {
    padding: 0.5rem 1.5rem 1rem 1.5rem;
  }
  .Project-content h3 {
    align-items: flex-start;
    margin-bottom: 0.4rem;
  }
  .Project-content h3 div,
  .Project-content h3 a {
    font-size: 1.05rem;
  }
  .Project-content h3 span {
    margin-left: 0;
  }
  .Project-content h3 a:nth-child(2) {
    color: #8f8f8f;
    font-size: 1.1rem;
    padding: 0.3rem;
  }
  .Project-container p {
    font-size: 0.9rem;
  }
}

@media (max-width: 815px) and (max-height: 450px) {
  .Projects {
    margin: 1rem 10% 1rem 10%;
  }
  .Project-content {
    padding: 0.5rem 1.5rem 1rem 1.5rem;
  }
  .Project-content h3 {
    align-items: flex-start;
    margin-bottom: 0.5rem;
  }
  .Project-content h3 div,
  .Project-content h3 a {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
  }
  .Project-content h3 a:nth-child(2) {
    color: #8f8f8f;
    font-size: 1.3rem;
    padding: 0.3rem;
  }
}
