.MainPage {
  font-family: "DM Sans", sans-serif;
}

.MainPage-header {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.MainPage-h1-content {
  display: flex;
  font-size: 8rem;
  color: #343434;
  margin-top: -2%;
  margin-left: 25%;
}

.MainPage-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 5rem;
}

.MainPage-h3-content {
  color: #343434;
  font-weight: 500;
  font-size: 0.93rem;
  margin-bottom: 0.7rem;
  transition: color 0.5s ease;
}

.MainPage-h3-content:hover {
  cursor: default;
}

.MainPage-line {
  height: 1px;
  width: 13rem;
  background-color: #343434;
}

/* Responsive */
@media (min-width: 1550px) {
  .MainPage-header {
    margin-top: 12%;
  }
  .MainPage-h1-content {
    font-size: 9rem;
  }
  .MainPage-h3-content {
    font-size: 1.25rem;
    margin-bottom: 0.9rem;
  }
  .MainPage-line {
    width: 16rem;
  }
  .MainPage-bottom {
    margin-top: 6rem;
  }
}

@media (max-width: 1150px) {
  .MainPage-header {
    margin-top: 15%;
  }
  .MainPage-h1-content {
    font-size: 7rem;
    margin-top: -3%;
  }
  .MainPage-h3-content {
    font-size: 1.1rem;
  }
  .MainPage-line {
    width: 12rem;
  }
  .MainPage-bottom {
    margin-top: 6rem;
  }
}

@media (max-width: 800px) {
  .MainPage-header {
    margin-top: 20%;
  }
  .MainPage-h1-content {
    font-size: 5rem;
    margin-left: 20%;
  }
  .MainPage-h3-content {
    font-size: 1rem;
  }
}

@media (max-width: 450px) {
  .MainPage-header {
    margin-top: 30%;
  }
  .MainPage-h1-content {
    font-size: 3.5rem;
    margin-left: 12%;
  }
  .MainPage-h3-content {
    font-size: 1rem;
  }
  .MainPage-line {
    width: 14rem;
  }
  .MainPage-bottom {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5rem;
  }
}

/* Iphone X && Iphone 6/7/8 Plus */
@media (max-width: 450px) and (min-height: 700px) {
  .MainPage-bottom {
    margin-top: 7rem;
  }
}

@media (max-width: 815px) and (max-height: 415px) {
  .MainPage-header {
    margin-top: 5%;
  }
  .MainPage-h1-content {
    font-size: 3.5rem;
  }
  .MainPage-h3-content {
    font-size: 1rem;
  }
  .MainPage-line {
    width: 12rem;
  }
  .MainPage-bottom {
    margin-top: 1rem;
  }
}
