.SNS-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SNS-group a {
  /* font-size: 1.35rem; */
  margin-top: 0.7rem;
  color: #8f8f8f;
  transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
}

.SNS-group a img {
  width: 30px;
}

/* Responsive */
@media (min-width: 1550px) {
  .SNS-group a {
    font-size: 1.55rem;
    margin-top: 0.8rem;
  }
}

@media (max-width: 450px) {
  .SNS-group {
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 8%;
  }
  .SNS-group a {
    margin-top: 4rem;
    margin-right: 1.5rem;
  }
}

/* Iphone X && Iphone 6/7/8 Plus */
@media (max-width: 450px) and (min-height: 700px) {
  .SNS-group a {
    margin-top: 6rem;
  }
}

@media (max-width: 815px) and (max-height: 415px) {
  .SNS-group {
    flex-direction: row;
  }
  .SNS-group a {
    margin-top: 3rem;
    margin-right: 1.5rem;
  }
}
