@import "../../../styles/variables";

.SNS-group {
  @include flex(column, center, center);

  .icons {
    font-size: 1.65rem;
    color: color(medium-gray);
    transition: color 0.4s ease;

    &:hover {
      color: color(redish);
    }

    @include responsive(big-desktop) {
      font-size: 1.75rem;
    }
  }

  // ---Responsive---
  @include responsive(mobile) {
    @include flex(row, flex-start, stretch);
    margin-left: 8%;
  }
  @include responsive(mobile-rotate) {
    @include flex(row, flex-start, stretch);
  }

  a {
    margin-top: 0.7rem;
    color: color(medium-gray);

    // ---Responsive---
    @include responsive(mobile) {
      margin-top: 4rem;
      margin-right: 1.5rem;
    }
    @include responsive(bigger-mobile) {
      margin-top: 6rem;
    }
    @include responsive(mobile-rotate) {
      margin-top: 3rem;
      margin-right: 1.5rem;
    }

    // ---Responsive---
    @include responsive(big-desktop) {
      font-size: 1.55rem;
      margin-top: 0.8rem;
    }

    // img {
    //   width: 30px;
    // }
  }
}
