.About-container {
  width: 50%;
  position: fixed;
  top: 20%;
  left: 25%;
  padding: 2rem;
  background-color: #ffffff;
  font-family: "DM Sans", sans-serif;
  border-radius: 2px;
  box-sizing: border-box;
  z-index: 101;
  opacity: 0;
  transform: translateY(-100vh);
  transition: opacity 0.8s ease-in-out, transform 0.7s ease-in-out;
  -webkit-transition: opacity 0.8s ease-in-out, transform 0.7s ease-in-out;
  -moz-transition: opacity 0.8s ease-in-out, transform 0.7s ease-in-out;
  -o-transition: opacity 0.8s ease-in-out, transform 0.7s ease-in-out;
}

.About-active {
  opacity: 1;
  transform: translateY(0);
}

.About-close {
  font-size: 1.5rem;
  color: #8f8f8f;
  float: right;
  padding: 0.7rem;
  line-height: 0;
  transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
}
.About-close:hover {
  cursor: pointer;
  color: #fd655f;
}

.About-content {
  margin: 4rem 3rem 2rem 3rem;
}

.About-h1 {
  font-weight: 500;
  font-size: 1.65rem;
  margin-bottom: 0rem;
  display: flex;
  align-items: center;
}

.About-h2 {
  font-weight: 500;
  font-size: 1.05rem;
  color: #fd655f;
  letter-spacing: 0.5px;
  margin-bottom: 2rem;
}

.About-p {
  font-weight: 400;
  font-size: 1.15rem;
  margin-bottom: 3rem;
  color: #8f8f8f;
  line-height: 1.7;
  letter-spacing: 0.2px;
}

.About-contact {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  font-size: 0.95rem;
}

.About-contact a {
  color: #343434;
  font-size: 1.3rem;
}

.About-contact a i {
  transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
}
.About-contact li:hover > a i {
  color: #fb4b53;
}

.About-contact span {
  color: #8f8f8f;
  margin-left: 0.4rem;
  margin-right: 1.5rem;
  font-size: 1rem;
  letter-spacing: 1.3px;
}

.About-phrase {
  font-weight: 400;
  font-size: 1rem;
  color: #8f8f8f;
  margin-top: 1.7rem;
}

/* Responsive */
@media (min-width: 1550px) {
  .About-container {
    width: 60%;
    top: 25%;
    left: 20%;
    padding: 2.5rem;
  }
  .About-close {
    font-size: 1.7rem;
  }
  .About-h1 {
    font-size: 1.85rem;
    margin-bottom: 1.5rem;
  }
  .About-p {
    font-size: 1.3rem;
  }
  .About-contact {
    font-size: 1.05rem;
  }

  .About-contact a {
    font-size: 1.25rem;
  }
  .About-phrase {
    font-size: 1.15rem;
    margin-top: 1.8rem;
  }
}

@media (max-width: 1150px) {
  .About-container {
    width: 60%;
    top: 15%;
    left: 20%;
    padding: 2rem;
  }
  .About-content {
    margin: 3.5rem 1rem 2rem 1rem;
  }
  .About-close {
    font-size: 1.45rem;
  }
  .About-h1 {
    font-size: 1.5rem;
  }
  .About-p {
    font-size: 1.15rem;
  }
  .About-contact {
    font-size: 1rem;
  }
  .About-contact a {
    font-size: 1.1rem;
  }
}

@media (max-width: 800px) {
  .About-container {
    width: 70%;
    top: 12%;
    left: 15%;
  }
  .About-close {
    font-size: 1.35rem;
  }
  .About-h1 {
    font-size: 1.45rem;
  }
  .About-p {
    font-size: 1.05rem;
  }
  .About-contact span {
    margin-right: 0.8rem;
    font-size: 1rem;
  }
  .About-contact a {
    font-size: 0.95rem;
  }
}

@media (max-width: 450px) {
  .About-container {
    width: 80%;
    left: 10%;
    transform: translateX(-100vw);
    padding: 0.75rem;
  }
  .About-active {
    transform: translateX(0);
  }
  .About-close {
    font-size: 1.4rem;
  }
  .About-h1 {
    font-size: 1.5rem;
  }
  .About-p {
    font-size: 0.95rem;
    margin-bottom: 2rem;
  }
  .About-contact {
    flex-direction: column;
    font-size: 0.85rem;
  }
  .About-contact li {
    margin-bottom: 0.4rem;
  }
  .About-contact span {
    margin-right: 0;
    font-size: 0.9rem;
  }
  .About-contact a {
    font-size: 0.95rem;
  }
}

/* Iphone X && Iphone 6/7/8 Plus */
@media (max-width: 815px) and (max-height: 450px) {
  .About-container {
    top: 0%;
    transform: translateY(-130%);
  }
  .About-active {
    transform: translateY(0);
  }
  .About-content {
    margin: 2rem 0.8rem 0.5rem 0.8rem;
  }
  .About-p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  .About-contact span {
    margin-right: 0.6rem;
    margin-left: 0.2rem;
    font-size: 0.85rem;
  }
  .About-contact a {
    font-size: 0.85rem;
  }
}
