.About-container {
  width: 50%;
  position: fixed;
  top: 20%;
  left: 25%;
  padding: 2rem;
  background-color: #ffffff;
  font-family: "DM Sans", sans-serif;
  border-radius: 2px;
  box-shadow: 0 2px 5px #e2e2e2;
  box-sizing: border-box;
  z-index: 101;
  opacity: 0;
  transform: translateY(-100vh);
  transition: all 0.3s ease-in;
}

.About-active {
  opacity: 1;
  transform: translateY(0);
}

.About-close {
  font-size: 1.5rem;
  color: #8f8f8f;
  float: right;
  padding: 0.7rem;
  line-height: 0;
  transition: color 0.2s ease;
}
.About-close:hover {
  cursor: pointer;
  color: #fd655f;
}

.About-content {
  margin: 5rem 3rem 2rem 3rem;
}

.About-h1 {
  font-weight: 500;
  font-size: 1.65rem;
  margin-bottom: 1rem;
}

.About-p {
  font-weight: 400;
  font-size: 1.15rem;
  margin-bottom: 1rem;
  color: #8f8f8f;
}

.About-contact {
  font-weight: 400;
  font-size: 0.95rem;
  color: #8f8f8f;
}

.About-contact a {
  color: #343434;
  font-size: 1.1rem;
  margin-left: 0.7rem;
  letter-spacing: 1.3px;
  transition: color 0.2s ease;
}

.About-contact a:hover {
  color: #fb4b53;
}

.About-phrase {
  font-weight: 400;
  font-size: 1rem;
  color: #8f8f8f;
  margin-top: 1.7rem;
}

/* Responsive */
@media (min-width: 1550px) {
  .About-container {
    width: 60%;
    top: 25%;
    left: 20%;
    padding: 2.5rem;
  }
  .About-close {
    font-size: 1.7rem;
  }
  .About-h1 {
    font-size: 1.85rem;
    margin-bottom: 1.5rem;
  }
  .About-p {
    font-size: 1.3rem;
  }
  .About-contact {
    font-size: 1.05rem;
  }

  .About-contact a {
    font-size: 1.25rem;
  }
  .About-phrase {
    font-size: 1.15rem;
    margin-top: 1.8rem;
  }
}

@media (max-width: 1150px) {
  .About-container {
    width: 60%;
    top: 15%;
    left: 20%;
    padding: 2rem;
  }
  .About-close {
    font-size: 1.45rem;
  }
  .About-h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .About-p {
    font-size: 1.15rem;
  }
  .About-contact {
    font-size: 1rem;
  }
  .About-contact a {
    font-size: 1.1rem;
  }
  .About-phrase {
    font-size: 1rem;
    margin-top: 1.7rem;
  }
}

@media (max-width: 800px) {
  .About-container {
    width: 70%;
    top: 12%;
    left: 15%;
  }
  .About-close {
    font-size: 1.35rem;
  }
  .About-h1 {
    font-size: 1.4rem;
  }
  .About-p {
    font-size: 1.1rem;
  }
}

@media (max-width: 450px) {
  .About-container {
    width: 80%;
    left: 10%;
    transform: translateX(-100vw);
    padding: 0.75rem;
  }
  .About-active {
    transform: translateX(0);
  }
  .About-content {
    margin: 4rem 1rem 2rem 1rem;
  }
  .About-close {
    font-size: 1.4rem;
  }
  .About-h1 {
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
  }
  .About-p {
    font-size: 1rem;
  }
  .About-contact {
    font-size: 0.85rem;
  }
  .About-contact a {
    font-size: 1rem;
  }
  .About-phrase {
    font-size: 0.9rem;
    margin-top: 1.8rem;
  }
}

/* Iphone X && Iphone 6/7/8 Plus */
@media (max-width: 815px) and (max-height: 415px) {
  .About-container {
    top: 0%;
    transform: translateY(-130%);
  }
  .About-active {
    transform: translateY(0);
  }
  .About-content {
    margin: 2.5rem 1rem 0.5rem 1rem;
  }
  .About-h1 {
    margin-bottom: 0.7rem;
  }
  .About-p {
    font-size: 1rem;
  }
  .About-contact {
    font-size: 0.9rem;
  }
  .About-contact a {
    font-size: 1rem;
  }
  .About-phrase {
    font-size: 0.95rem;
    margin-top: 1.3rem;
  }
}
