.Navbar-container {
  /* position: fixed; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0 1rem 0;
  /* font-family: "IBMPlexSans";
  font-weight: 600; */
  font-family: "DM Sans", sans-serif;
  background: transparent;
}

.Navbar-ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.NavLink,
.Navbar-ul-about {
  color: #343434;
  font-weight: 500;
  font-size: 1.05rem;
  transition: color 0.3s ease;
}

.NavLink:hover,
.Navbar-ul-about:hover {
  color: #fb4b53;
  cursor: pointer;
}

.Navbar-ul li:nth-child(2) {
  margin-left: 3.5rem;
}

.selected {
  color: #fb4b53;
}

.Logo {
  font-size: 1.7rem;
  font-weight: 500;
  color: #343434;
}

/* Responsive */
@media (min-width: 1550px) {
  .Navbar-container {
    padding: 4rem 0 1rem 0;
  }
  .Logo {
    font-size: 2rem;
  }
  .NavLink,
  .Navbar-ul-about {
    font-size: 1.3rem;
  }
}

@media (max-width: 1150px) {
  .Navbar-container {
    padding: 4rem 0 1rem 0;
  }
}

@media (max-width: 450px) {
  .Logo {
    font-size: 1.5rem;
  }
  .NavLink,
  .Navbar-ul-about {
    font-size: 1rem;
  }
}

/* Iphone X && Iphone 6/7/8 Plus */
/* @media (max-width: 450px) and (min-height: 700px) {
  .Navbar-container {
    padding: 4rem 0 1rem 0;
  }
} */
