.Navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0 1rem 0;
  font-family: "DM Sans", sans-serif;
  background: transparent;
}

.Navbar-ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.NavLink,
.Navbar-ul-about {
  color: #343434;
  font-weight: 500;
  font-size: 1.05rem;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

.NavLink:hover,
.Navbar-ul-about:hover {
  color: #fb4b53;
  cursor: pointer;
}

.Navbar-menu li:nth-child(2) {
  margin-left: 3.5rem;
}

.selected {
  color: #fb4b53;
}

.Logo {
  font-size: 1.7rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #343434;
}

.mobile-menu {
  font-size: 1.45rem;
  color: #8f8f8f;
}

/* Responsive */
@media (min-width: 1550px) {
  .Navbar-container {
    padding: 5rem 0 1rem 0;
  }
  .Logo {
    font-size: 2rem;
  }
  .NavLink,
  .Navbar-ul-about {
    font-size: 1.3rem;
  }
}

@media (max-width: 1150px) {
  .Navbar-container {
    padding: 4rem 0 1rem 0;
  }
}

@media (max-width: 450px) {
  .Navbar-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 0 1rem 0;
  }
  .Navbar-container {
    align-items: flex-start;
  }
  .Logo {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.75px;
  }
  .Navbar-menu {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8%;
    margin-top: 1.5rem;
  }
  .NavLink,
  .Navbar-ul-about {
    font-size: 1.25rem;
  }
  .Navbar-menu li:nth-child(2) {
    margin-top: 0.4rem;
    margin-left: 0;
  }
}
